body {

    font-family: Arial, sans-serif;
    
    background-color: #f4f4f4;
    
    margin: 0;
    
    padding: 20px;
    
    }
    
    
    div {
    
    background: white;
    
    border-radius: 5px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    padding: 15px;
    
    margin-bottom: 15px;
    
    }
    
    
    p {
    
    margin: 5px 0;
    
    color: #333;
    
    }
    
    
    button {
    
    background-color: #07e1fe;
    
    color: white;
    
    border: none;
    
    border-radius: 5px;
    
    padding: 10px 15px;
    
    cursor: pointer;
    
    transition: background-color 0.3s ease;
    
    }
    
    
    button:hover {
    
    background-color: #03fd39;
    
    }
    
    
    form {
    
    margin-top: 20px;
    
    margin-bottom: 20px;
    
    }
    
    
    label {
    
    display: block;
    
    margin-bottom: 5px;
    
    font-weight: bold;
    
    }
    
    
    input[type='number']{
        width: 3%;
    
        padding: 10px;
        
        margin-bottom: 10px;
        
        border: 1px solid #ccc;
        
        border-radius: 5px;
    }
    
    input[type='text'] {
    
    width: 100%;
    
    padding: 10px;
    
    margin-bottom: 10px;
    
    border: 1px solid #ccc;
    
    border-radius: 5px;
    
    }
    
    
    input[type='number']:focus,
    
    input[type='text']:focus {
    
    border-color: #f01023;
    
    outline: none;
    
    }
   .numTask{
    color: #f01023;
   }
   .task{
    border: #f01023;
    width: 40%;
   }